:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --hover-contact: hsla(200, 94%, 72%, 1);
  --footer-bg: hsla(167, 44%, 70%, 1);
}

body {
  font-size: 1.125rem;
  margin: 0px;
  padding: 0px;
  font-family: "Barlow", sans-serif;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0px;
  font-family: "Fraunces", serif;
  font-weight: 900;
}

p,
blockquote {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
