.grid-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info-main {
  padding: 100px;
  display: grid;
  align-content: center;
  background-color: var(--white);
  gap: 20px;
}

.cover {
  overflow: hidden;
}

.cover img {
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 100%;
}

.info-main h2 {
  font-size: 3rem;
  color: var(--very-dark-desaturated-blue);
}

.info-main p {
  width: 45ch;
  line-height: 1.5;
  color: var(--dark-grayish-blue);
}

.info-main a {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
}

.info-main a::after {
  content: "";
  margin-left: -12px;
  margin-top: -8px;
  display: block;
  width: 12ch;
  height: 10px;
  background-color: hsla(45, 93%, 88%, 1);
  border-radius: 25px;
  transition: 0.3s;
}

.info-main a:hover::after {
  background-color: var(--yellow);
}

.info-main:last-child a::after {
  background-color: hsla(13, 100%, 92%, 1);
}

.info-main:last-child a:hover::after {
  background-color: var(--soft-red);
}

.bg-main {
  display: grid;
  gap: 20px;
  align-content: end;
  text-align: center;
  justify-content: center;
  padding: 80px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-main:first-child {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

.bg-main:first-child h2 {
  color: var(--dark-desaturated-cyan);
}

.bg-main:first-child p {
  color: var(--dark-moderate-cyan);
}

.bg-main:last-child {
  background-image: url("../images/desktop/image-photography.jpg");
}

.bg-main:last-child h2,
.bg-main:last-child p {
  color: var(--dark-blue);
}

.bg-main p {
  width: 40ch;
}

@media (max-width: 1000px) {
  .info-main {
    padding: 40px 0px;
    text-align: center;
    gap: 20px;
  }

  .info-main h2 {
    font-size: 2rem;
    max-width: 14ch;
    margin: 0 auto;
  }

  .info-main p,
  .bg-main p {
    width: 32ch;
    margin: 0 auto;
    font-size: 1rem;
  }

  .info-main a::after {
    content: "";
    margin: 0 auto;
    margin-top: -8px;
    display: block;
    width: 12ch;
    height: 10px;
    background-color: hsla(45, 93%, 88%, 1);
    border-radius: 25px;
    transition: 0.3s;
  }

  .bg-main {
    padding: 40px 0px;
  }
}

@media (max-width: 500px) {
  .grid-main {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .info-main {
    padding: 60px 0px;
    text-align: center;
    gap: 30px;
  }

  .info-main h2 {
    font-size: 2rem;
  }

  .bg-main {
    height: 300px;
  }

  .info-main p,
  .bg-main p {
    font-size: 1rem;
    margin: 0 auto;
  }

  .grid-main .cover {
    grid-row: 1;
  }
}
